:root{

    --table-header-primary : #845adfc8
}

.texte-primary{
    color : #906ED9;
}
.table > .table-header-primary{
    background-color : #182c37 !important;
    /* color: #906ED9; */
}

.fs-select2{

    font-size: .75rem;
}

/* Barre de défilement */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
}

/* Curseur de la barre de défilement */
::-webkit-scrollbar-thumb {
    background-color: #182c37; /* Couleur du curseur */
    border-radius: 10px; /* Coins arrondis du curseur */
}

/* Fond de la barre de défilement */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Couleur du fond */
}


