:root{

    --table-header-primary : #845adfc8
}

.texte-primary{
    color : #906ED9;
}
.table > .table-header-primary{
    background-color : #182c37 !important;
    /* color: #906ED9; */
}

.fs-select2{

    font-size: .75rem;
}

